__pycache__/
*.pyc
*.pyo
env/
venv/
.env
app/static/metro_test_data
.venv/
nearby_stops_dump.csv
stop_times_dump.csv
stops_dump.csv
trips_dump.csv
unique_routes_dump.csv
frequency_dump.txt
frequency_data.json
gtfs_data/agency.txt
gtfs_data/calendar_dates.txt
gtfs_data/feed_info.txt
gtfs_data/calendar.txt
gtfs_data/levels.txt
gtfs_data/linked_datasets.txt
gtfs_data/pathways.txt
gtfs_data/routes.txt
gtfs_data/shapes.txt
gtfs_data/stop_times.txt
gtfs_data/stops.txt
gtfs_data/trips.txt
gtfs_data/vehicles.txt
calculated_stops.json
